html {
  background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

.hyperlink {
    font-family: 'Squada One', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    background-image: url("Images/Future\ Stars\ Nav\ Bar\ edited.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -35px;
    border-bottom: 3px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    }

  .hyperlink a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 16px;
  }

  .Suggestions {
    font-family: 'Squada One', cursive;
    color: rgb(0, 0, 0);
    text-align: right;
    display: block;
    text-decoration: none;
  }
  
  .Suggestions a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 16px;
  }

  .Contact {
    font-family: 'Squada One', cursive;
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;

  }

  #name {
    padding: 40px;
  }

  #email {
    padding: 50px;
  }

  #bottom {
    padding: 50px;
  }

  .title {
    font-family: 'Squada One', cursive;
    color:rgb(0, 0, 0);
    font-size: 75px;
    text-align: center;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    float: left;
    position: relative;
    top: -110px;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }